<p>uploadpage works!</p>
<button id = "approve" (click)="getAllUsersBoot()"> Upload Boots</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUserFullPieceSuit()"> Upload Full Piece Suit</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersJacketsCoat()"> Upload JacketsCoat</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersSneaker()"> Upload Sneakers</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersSweats()"> Upload Sweats</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersJeans()"> Upload Jeans</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersSandals()"> Upload Sandals</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersShirts()"> Upload Shirt</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersSuitTop()"> Upload Suit Top</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersSuitBottom()"> Upload Suit Bottom</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersTankTop()"> Upload Tanktop</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>
<button id = "approve" (click)="getAllUsersShorts()"> Upload Shorts</button>
<div *ngFor="let b of customersData"> {{b.uploadStyle}} {{b.uploadBrand}}
<hr/>









