<div>
    <!-- <h2>Clothing List</h2> -->
    <select class="form-select input-border-width-sm" name="clothes" style="float: left;"id="clothes">
        <option value="jackets/coats">Jackets/Coats</option>
        <option value="shirts">Shirts</option>
        <option value="shoes">Shoes</option>
        <option value="sweats">Sweats</option>
        <option value="shorts">Shorts</option>
        <option value="sandals">Sandals</option>
        <option value="boots">Boots</option>
        <option value="sneakers">Sneakers</option>
        <option value="jeans">Jeans</option>
        <option value="full-piece-suit">Full-Piece Suits</option>
        <option value="suit-bottom">Suit Bottom</option>
        <option value="suit-top">Suit Top</option>
        <option value="tank-tops">Tank Tops</option>
      </select>
</div> 